
@media (max-height: 999px) {
  .question-card {
    min-height: 400px !important;
  }
}
@media (max-height: 899px) {
  .question-card {
    min-height: 300px !important;
  }
}
@media (max-height: 799px ) {
  .question-card {
    min-height: 200px !important;
  }
}


