
@media (max-height: 999px) {
  .question-card {
    min-height: 400px;
  }
}
@media (max-height: 899px) {
  .question-card {
    min-height: 300px;
  }
}
@media (max-height: 799px) {
  .question-card {
    min-height: 200px;
  }
}
@media (max-height: 699px) {
  .question-card {
    min-height: 100px;
  }
}
/* Tu peux continuer si besoin */


body {
    background-color: red;
}